{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Contato</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ entity.data }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Telefone</th>
                <td>{{ entity.telefone }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ entity.celular }}</td>
            </tr>
            <tr>
                <th>Newsletter</th>
                <td>{{ entity.newsletter }}</td>
            </tr>
            <tr>
                <th>Mensagem</th>
                <td>{{ entity.mensagem }}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ entity.ip }}</td>
            </tr>
            <tr>
                <th>Localidade</th>
                <td>{{ entity.localidade }}</td>
            </tr>
            <tr>
                <th>Dadosnavegador</th>
                <td>{{ entity.dadosNavegador }}</td>
            </tr>
            <tr>
                <th>Historico</th>
                <td>{{ entity.historico }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('contato') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('contato_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
