{% extends "WebsiteBundle:Default:index.html.twig" %}

{% block title %}
<title>Email Marketing - Entregue Email na Caixa de Entrada - WTIS</title>
{% endblock %}

{% block metas %}
{% set metaPageTopic = 'Wtis Soluções em Tecnologia e Marketing para Web' %}
{% set metaPageClassification = 'Wtis Soluções em Tecnologia e Marketing para Web' %}
{{ parent() }}
<meta name="description" content="Email Marketing. Entregue Email na Caixa de Entrada." />
<meta property="og:title" content="Produtos Wtis | Email Marketing" />
<meta property="og:description" content="Email Marketing. Entregue Email na Caixa de Entrada." />
<meta property="og:url" content="{{ url(app.request.get('_route')) }}" />
<meta property="og:image" content="{{ app.request.uriForPath('/images/facebook_s.gif') | replace({'/app_dev.php': ''}) }}" />
<meta property="og:phone_number" content="{{ telefoneComercial }}">
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/page.emkt.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block body %}
<div class="content emkt">

    <div class="fullscreen background emkt-header-bg">
    	<h1 class="header-title hide visible-xs">E-mail Marketing. Envie e-mail para seus clientes</h1>
        <div class="bg-overlay hide visible-xs"></div>
    </div>
    
    <section id="page-menu" class="page-menu">
    	<div class="center-1156 btn-position">
        	<a href="http://c.wtis.com.br/cart.php?a=add&pid=25" class="btn-testegratis">Teste grátis e ganhe 250 envios</a>
        </div>
    	<ul>
        	<li class="selected"><a href="#email-mkt"><i class="icon2 r like focus"></i><span>Vantagens</span></a></li>
            <li><a href="#vantagens" class="scroll"><i class="icon2 r checked"></i><span>Recursos</span></a></li>
            <li><a href="#plano-mensal" class="scroll"><i class="icon2 r preco"></i><span>Preços</span></a></li>
        </ul>
    </section>
    
	<section id="email-mkt" class="pres-default large center-1156">
    	<div class="img"><img data-sr="enter top ease-in-out 6rem wait 0.4s" src="{{ asset('images/pages/emkt/chances-de-vender.jpg') }}" alt="Mais chances de vender"></div>
        <div class="pcontent">
            <h2>Mais chances de vender</h2>
            <span>Crie promoções e planeje ações de e-mail marketing para aumentar suas vendas e fazer sua empresa crescer.<br><br>O e-mail marketing é a ferramenta ideal para uma estratégia eficiente, de alto retorno e baixo investimento.</span>
		</div>
        <div class="clearfloat"></div>
    </section>
    
    <section id="relatorios" class="pres-default right large center-full">
    	<div class="center-1156">
            <div class="img"><img data-sr="enter top ease-in-out 6rem wait 0.4s" src="{{ asset('images/pages/emkt/relatorios.jpg') }}" alt="Relatorios Avancados"></div>
            <div class="pcontent">
                <h2>Relatórios avançados</h2>
                <span>Fique sabendo em tempo real onde e quando suas mensagens estão sendo abertas com o relatório geolocalizado.<br><br>Nossos relatórios são fáceis de entender mais ao mesmo tempo bem avançados e apresentam informações importantes sobre sua campanha de envios.<br><br>Saiba a quantidade de usuários que visualizaram sua mensagem, clicaram no e-mail e quais links tiveram melhor desempenho.</span>
            </div>
        </div>
        <div class="clearfloat"></div>
    </section>
    
    <section id="multicanal" class="pres-default large center-1156">
    	<div class="img"><img data-sr="enter top ease-in-out 6rem wait 0.4s" src="{{ asset('images/pages/emkt/sms.jpg') }}" alt="Multicanal"></div>
        <div class="pcontent">
            <h2>Envie Email e SMS para seus contatos</h2>
            <span>Crie campanhas de email e ao mesmo tempo envie por Mobile SMS para os contatos que possuem telefone celular cadastrado.<br><br>Importe facilmente os contatos utilizando sistema de importação que torna o gerenciamento de contatos fácil e eficiente.</span>
		</div>
        <div class="clearfloat"></div>
    </section>
    
    <div class="div-bg"></div>
    
    <section id="vantagens" class="center-1156">
    	
        <div class="default-title">
        	<h2 class="h1">Muito mais que uma ferramenta de envio de e-mail</h2>
            <span class="h2">O software foi desenvolvido por nós, muito estudo e dedicação para entregar um produto que realmente funcione e faz mais</span>
        </div>
        
        <ul>
        	<li>
            	<i data-sr="enter left ease-in-out 6rem wait 0.1s" class="icon2 large2 template"></i>
                <h2>Modelos prontos</h2>
                <span>Nosso sistema oferece modelos de  e-mail prontos para você enviar. Basta preencher os campos editáveis com o  conteúdo que você deseja e programar o disparo, não requer nenhum conhecimento técnico.</span>
            </li>
            <li>
            	<i data-sr="enter left ease-in-out 6rem wait 0.2s" class="icon2 large2 html"></i>
                <h2>Editor de HTML</h2>
                <span>Cole o HTML da sua campanha ou crie sua mensagem da forma que desejar, utilizando a linguagem HTML ou pelo nosso editor online</span>
            </li>
            <li>
            	<i data-sr="enter left ease-in-out 6rem wait 0.3s" class="icon2 large2 contato"></i>
                <h2>Importação de contatos</h2>
                <span>Importe facilmente seus contatos através de uma planilha do Excel, CSV ou arquivos de texto (TXT). Crie campos personalizados para seus grupos de contatos.</span>
            </li>
            <li>
            	<i data-sr="enter left ease-in-out 6rem wait 0.4s" class="icon2 large2 garantia"></i>
                <h2>Garantia na entrega</h2>
                <span>Com nossos IPs dedicados, aumente a taxa de entrega de seus e-mails, evitando que eles sejam classificados como SPAM. Você pode contratar um IP somente para você por R$ 89,00/mês.</span>
            </li>
            <li>
            	<i data-sr="enter left ease-in-out 6rem wait 0.5s" class="icon2 large2 analise"></i>
                <h2>Análise ao email</h2>
                <span>Com nosso sistema é possível a pré-visualização nos leitores de email, detecção de imagens e links quebrados, relatório anti-spam e revisão do código HTML.</span>
            </li>
            <li>
            	<i data-sr="enter left ease-in-out 6rem wait 0.6s" class="icon2 large2 responsive"></i>
                <h2>Responsive Design</h2>
                <span>Com o responsive design do nosso sistema, os seus emails adaptam-se ao tamanho de qualquer tablet ou smartphone!</span>
            </li>
        </ul>
        <div class="clearfloat"></div>
	</section>
    
    <div class="div-bg"></div>
    
    <section id="plano-mensal" class="price-new center-1156">
    	
        <div class="default-title">
        	<span class="h1">Aproveite o máximo de vantagens e <strong>envie sem limite</strong> com o <strong>Plano Mensal</strong></span>
            <span class="h2">Escolha um plano mensal e tenha benefícios que somente a WTIS oferece, o envio é ilimitado, nós só limitamos a quantidade de<br> contatos importados. Se preferir, também temos planos com contatos ilimitados.</span>
        </div>
        
        <div class="table-price-new">
        	<div class="tips">
            	<span class="tip tip1">Envio de email ilimitado</span>
                <span class="tip tip2 color2">Contatos ilimitados</span>
                <span class="service">Emk-Pos</span>
            </div>
            <div class="ul-border"></div>
            <div class="ptable">
            <ul>
            	<li>
                	<div class="phover">
                    	<div class="vtable">
                        	<div class="cell">
                    		<span>Apenas <strong>R$ 49,00</strong> por mês</span>
                            <a href="http://c.wtis.com.br/cart.php?a=add&pid=16" class="btn btn-primary btn-blue">Contratar agora</a>
                            </div>
                        </div>
                    </div>
                	<div class="pcell-padding">
                        <p class="h3">até</p>
                        <p class="h1">3 mil</p>
                        <p class="h2">contatos</p>
                        <div class="options">
                            <span>Envio ilimitado</span>
                            <!--<span>50 SMS por mês</span>-->
                            <span>Suporte por email</span>
                            <span>Treinamento online</span>
                        </div>
                        <div class="price">R$ 49/mês</div>
                        </div>
                </li>
                <li>
                	<div class="phover">
                    	<div class="vtable">
                        	<div class="cell">
                    		<span>Apenas <strong>R$ 179,00</strong> por mês</span>
                            <a href="http://c.wtis.com.br/cart.php?a=add&pid=17" class="btn btn-primary btn-blue">Contratar agora</a>
                            </div>
                        </div>
                    </div>
                	<div class="pcell-padding">
                        <p class="h3">até</p>
                        <p class="h1">10 mil</p>
                        <p class="h2">contatos</p>
                        <div class="options">
                            <span>Envio ilimitado</span>
                            {#<span>100 SMS por mês</span>#}
                            <span>Suporte por email e telefone</span>
                            <span>Treinamento presencial*</span>
                        </div>
                        <div class="price">R$ 179/mês</div>
                    </div>
                </li>
                <li>
                	<div class="phover">
                    	<div class="vtable">
                        	<div class="cell">
                    		<span>Apenas <strong>R$ 659,00</strong> por mês</span>
                            <a href="http://c.wtis.com.br/cart.php?a=add&pid=18" class="btn btn-primary btn-blue">Contratar agora</a>
                            </div>
                        </div>
                    </div>
                	<div class="pcell-padding">
                        <p class="h3">até</p>
                        <p class="h1">50 mil</p>
                        <p class="h2">contatos</p>
                        <div class="options">
                            <span>Envio ilimitado</span>
                            {#<span>200 SMS por mês</span>#}
                            <span>Suporte por email e telefone</span>
                            <span>Treinamento presencial*</span>
                        </div>
                        <div class="price">R$ 659/mês</div>
                    </div>
                </li>
                <li>
                	<div class="phover">
                    	<div class="vtable">
                        	<div class="cell">
                    		<span>Apenas <strong>R$ 49,00</strong> por mês</span>
                            <a href="http://c.wtis.com.br/cart.php?a=add&pid=19" class="btn btn-primary btn-blue">Contratar agora</a>
                            </div>
                        </div>
                    </div>
                	<div class="pcell-padding">
                        <p class="h3">&nbsp;</p>
                        <p class="h1">10 mil</p>
                        <p class="h2">envios</p>
                        <div class="options">
                            <span>Contatos ilimitados</span>
                            {#<span>50 SMS por mês</span>#}
                            <span>Suporte por email</span>
                            <span>Treinamento online</span>
                        </div>
                        <div class="price">R$ 49/mês</div>
                    </div>
                </li>
                <li>
                	<div class="phover">
                    	<div class="vtable">
                        	<div class="cell">
                    		<span>Apenas <strong>R$ 169,00</strong> por mês</span>
                            <a href="http://c.wtis.com.br/cart.php?a=add&pid=20" class="btn btn-primary btn-blue">Contratar agora</a>
                            </div>
                        </div>
                    </div>
                	<div class="pcell-padding">
                        <p class="h3">&nbsp;</p>
                        <p class="h1">100 mil</p>
                        <p class="h2">envios</p>
                        <div class="options">
                            <span>Contatos ilimitados</span>
                            {#<span>100 SMS por mês</span>#}
                            <span>Suporte por email e telefone</span>
                            <span>Treinamento presencial*</span>
                        </div>
                        <div class="price">R$ 169/mês</div>
                    </div>
                </li>
            </ul>
            </div>
            <div class="text-left">* Consulte a disponibilidade em sua localidade. <a href="{{ path('suporte') }}#avancado" target="_blank">Clique aqui</a></div>
            <div class="text-right">Nenhum destes planos te atende? <a href="#price-preview" class="scroll">Monte seu plano personalizado</a></div>
        </div>
        
    </section>
    
    <!-- PrePago -->
    
    <section id="plano-prepago" class="price-new center-1156">
    	
        <div class="default-title">
        	<p class="h1">Quer economia? Então pague pelo que usar com nossos planos <strong>Pré-pagos</strong></p>
            <span class="h2">Não há mensalidade, você compra envios que não expiram!</span>
        </div>
        
        <div class="table-price-new prepago">
        	<div class="tips">
            	<span class="tip tip1">Suporte comum</span>
                <span class="tip tip2 color2">Suporte avançado</span>
                <span class="service">Emk-SaaS</span>
            </div>
            <div class="ul-border"></div>
            <div class="ptable">
            <ul>
            	<li>
                	<div class="phover">
                    	<div class="vtable">
                        	<div class="cell">
                    		<span><strong>250 envios</strong> para você testar nossa ferramenta</span>
                            <a href="http://c.wtis.com.br/cart.php?a=add&pid=25" class="btn btn-success">Envie grátis</a>
                            </div>
                        </div>
                    </div>
                	<div class="pcell-padding">
                        <p class="h3"></p>
                        <p class="h1">250</p>
                        <p class="h2">envios</p>
                        <div class="price free">Grátis</div>
                        </div>
                </li>
                <li>
                	<div class="phover">
                    	<div class="vtable">
                        	<div class="cell">
                    		<span>Apenas <strong>R$ 179,00</strong></span>
                            <a href="http://c.wtis.com.br/cart.php?a=add&pid=21" class="btn btn-primary btn-blue">Contratar agora</a>
                            </div>
                        </div>
                    </div>
                	<div class="pcell-padding">
                        <p class="h3"></p>
                        <p class="h1">10 mil</p>
                        <p class="h2">envios</p>
                        <div class="price">R$ 40</div>
                    </div>
                </li>
                <li>
                	<div class="phover">
                    	<div class="vtable">
                        	<div class="cell">
                    		<span>Apenas <strong>R$ 150,00</strong></span>
                            <a href="http://c.wtis.com.br/cart.php?a=add&pid=22" class="btn btn-primary btn-blue">Contratar agora</a>
                            </div>
                        </div>
                    </div>
                	<div class="pcell-padding">
                        <p class="h3"></p>
                        <p class="h1">50 mil</p>
                        <p class="h2">envios</p>
                        <div class="price">R$ 150</div>
                    </div>
                </li>
                <li>
                	<div class="phover">
                    	<div class="vtable">
                        	<div class="cell">
                    		<span>Apenas <strong>R$ 270,00</strong></span>
                            <a href="http://c.wtis.com.br/cart.php?a=add&pid=23" class="btn btn-primary btn-blue">Contratar agora</a>
                            </div>
                        </div>
                    </div>
                	<div class="pcell-padding">
                        <p class="h3"></p>
                        <p class="h1">100 mil</p>
                        <p class="h2">envios</p>
                        <div class="price">R$ 270</div>
                    </div>
                </li>
                <li>
                	<div class="phover">
                    	<div class="vtable">
                        	<div class="cell">
                    		<span>Apenas <strong>R$ 890,00</strong></span>
                            <a href="http://c.wtis.com.br/cart.php?a=add&pid=24" class="btn btn-primary btn-blue">Contratar agora</a>
                            </div>
                        </div>
                    </div>
                	<div class="pcell-padding">
                        <p class="h3"></p>
                        <p class="h1">500 mil</p>
                        <p class="h2">envios</p>
                        <div class="price">R$ 890</div>
                    </div>
                </li>
            </ul>
            </div>
            <div class="text-left">Clientes a partir de 100 mil envios tem direito ao <a href="{{ path('suporte') }}#avancado" target="_blank">Suporte Avançado</a>: Treinamento presencial, atendimento por email, chat ou telefone. <br>No plano pré-pago você também pode adquirir créditos para envio de SMS. O custo é de R$ 0,15 por envio.</div>
        </div>
        <div class="clearfloat"></div>
    </section>
    
    <section id="teste" class="center-1156">
    	
        <div class="default-title">
        	<p class="h1">Faça um teste grátis e ganhe 250 envios!</p>
            <p class="h2">Sem compromisso ou cobranças adicionais e não precisa de cartão de crédito</p>
            <div class="text-center"><a href="http://c.wtis.com.br/cart.php?a=add&pid=25" class="btn btn-sucess btn-success btn-lg btn-verde">TESTAR GRÁTIS</a></div>
        </div>
        
    </section>
    
    <!--<section id="price-preview" class="center-full cinza">
    	<div class="center-977">
        	<p class="h1">Faça uma estimativa de custo e contrate</p>
            <div class="form center-full">
            	<span class="desc">Recomendamos optar pelo plano mensal, são muitas vantagens e você pode compará-las logo abaixo.</span>
                <form>
                	<label for="s-tipoContratacao" class="tipo-contratacao clearboth">
                    	<span>Tipo de contratação</span>
                        <input type="radio" name="s-tipoContratacao" id="s-tipoContratacao_prepago" value="prepago"> Pré-pago
                        <input type="radio" name="s-tipoContratacao" id="s-tipoContratacao_mensal" value="mensal"> Mensal <i class="font-min">[recomendado]</i>
                    </label>
                    
                    <label for="s-num-contatos" class="contatos clearboth">
                    	<span>Quantidade de contatos <a href="#" class="tt" title="Significa a quantidade máxima de contatos que você pode enviar e-mails. Você pode mandar quantos e-mails quiser mas somente para estes contatos">pra que?</a></span>
                        <select name="s-num-contatos" id="s-num-contatos" class="sm sm-default">
                            <option value="">Selecione</option>
                            <option value="ilimitado">Ilimitado</option>
                            <option value="3000">3 mil</option>
                            <option value="5000">5 mil</option>
                            <option value="10000">10 mil</option>
                            <option value="20000">20 mil</option>
                            <option value="30000">30 mil</option>
                            <option value="40000">40 mil</option>
                            <option value="50000">50 mil</option>
                            <option value="100000">100 mil</option>
                        </select>
                    </label>
                    <label for="s-num-envios" class="envios">
                    	<span>Quantidade de envios</span>
                        <select name="s-num-envios" id="s-num-envios" class="sm sm-default" disabled>
                            <option value="">Selecione</option>
                            <option value="10000">10 mil</option>
                            <option value="20000">20 mil</option>
                            <option value="30000">30 mil</option>
                            <option value="40000">40 mil</option>
                            <option value="50000">50 mil</option>
                            <option value="100000">100 mil</option>
                            <option value="200000">200 mil</option>
                            <option value="500000">500 mil</option>
                            <option value="1000000">1 milhão</option>
                        </select>
                    </label>
                    
                    <label for="s-sms" class="sms clearboth">
                    	<span>Incluir envio de SMS?</span>
                        <select name="s-sms" id="s-sm" class="sm sm-default">
                            <option value="0">Não</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="500">500</option>
                            <option value="1000">1 mil</option>
                            <option value="2000">2 mil</option>
                            <option value="5000">5 mil</option>
                            <option value="10000">10 mil</option>
                            <option value="50000">50 mil</option>
                            <option value="100000">100 mil</option>
                        </select>
                    </label>
                    <label class="ipdedicado">
                    	<span>IP Dedicado <a href="#" class="tt" title="Com o IP Dedicado você tem mais garantia que seus e-mails serão entregues na caixa de entrada dos seus contatos. Você terá um IP exclusivo somente para o seu servidor de envios.">pra que?</a></span>
                        <select name="disp-regiao" id="disp-regiao" class="sm sm-default" disabled>
                            <option value="">Selecione</option>
                        </select>
                    </label>
                    
                    <label class="cliente clearboth">
                    	<span>Você é cliente WTIS?</span>
                        <input type="radio" name="inlineRadioOptions3" id="inlineRadio5" value="option1"> Sim
                        <input type="radio" name="inlineRadioOptions3" id="inlineRadio6" value="option2"> Não
                    </label>
                    
                    <div class="clearfloat"></div>
                    <div class="atendimento-opcoes">
                    	<a href="#meligue" data-toggle="modal" data-target="#meLigueModal" data-product="E-mail Marketing" class="link-img phone">Nós ligamos para você<i></i></a> 
                        <a href="#chat" class="link-img chat init-chat">Fale conosco via chat<i></i></a>
                    </div>
                    <div class="result">
                    	<span class="desc1">Estimativa mensal</span>
                        <span class="price">R$ <strong>0,00</strong></span>
                        <span class="desc2">* Somente uma estimativa e pode não estar correto. <a href="#none" onclick="return false" class="tip" title="Fizemos este cálculo com base nas informações fornecidas por você mas isto vai depender do que você vai utilizar ou não.">Por que?</a></span>
                        <a href="#" class="button10 min-radius verde no-icon">Contratar<i class="glyphicon glyphicon-shopping-cart"></i></a>
                    </div>
                </form>
                
            </div>
        </div>
    </section>-->
    
    <section id="vantagens-comparativo">
    	<div class="center-977 content">
        	<p class="title h1">Aproveite o máximo de vantagens com o Plano Mensal</p>
            <table class="table table-comparativo">
              <thead>
                <tr>
                    <th class="item"></th>
                    <th class="descricao">Pré-pago</th>
                    <th class="preco text-center">Mensal</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>Suporte 24x7 por helpdesk, chat e telefone</td>
                    <td><i data-sr="enter left ease-in-out 6rem wait 0.1s" class="nao">Não</i></td>
                    <td><i data-sr="enter left ease-in-out 6rem wait 0.2s" class="sim">Sim</i></td>
                </tr>
                <tr>
                    <td>Envio de SMS grátis todo mês</td>
                    <td><i data-sr="enter left ease-in-out 6rem wait 0.3s" class="nao">Não</i></td>
                    <td><i data-sr="enter left ease-in-out 6rem wait 0.4s" class="sim">Sim</i></td>
                </tr>
                <tr>
                    <td>Nosso consultor vai até sua empresa te treinar para utilizar a ferramenta</td>
                    <td><i data-sr="enter left ease-in-out 6rem wait 0.5s" class="nao">Não</i></td>
                    <td><i data-sr="enter left ease-in-out 6rem wait 0.6s" class="sim">Sim</i></td>
                </tr>
                <tr>
                    <td>Envios ilimitados <img src="{{ asset('images/ico-help.png') }}" title="Há um limite da sua lista de contatos. Envie quantos e-mails quiser para seus contatos, sem qualquer limite." alt="Envios Ilimitados" class="tt"></td>
                    <td><i data-sr="enter left ease-in-out 6rem wait 0.7s" class="nao">Não</i></td>
                    <td><i data-sr="enter left ease-in-out 6rem wait 0.8s" class="sim">Sim</i></td>
                </tr>
                <tr>
                    <td>Possibilidade de contratar IP Dedicado <img src="{{ asset('images/ico-help.png') }}" title="Com o IP Dedicado você tem mais garantia que seus e-mails serão entregues na caixa de entrada dos seus contatos. Você terá um IP exclusivo somente para o seu servidor de envios." alt="IP Dedicado" class="tt"></td>
                    <td><i data-sr="enter left ease-in-out 6rem wait 0.9s" class="sim">Sim</i></td>
                    <td><i data-sr="enter left ease-in-out 6rem wait 1.0s" class="sim">Sim</i></td>
                </tr>
                <tr>
                    <td>Treinamento online</td>
                    <td><i data-sr="enter left ease-in-out 6rem wait 1.1s" class="sim">Sim</i></td>
                    <td><i data-sr="enter left ease-in-out 6rem wait 1.2s" class="sim">Sim</i></td>
                </tr>
              </tbody>
          	</table>
            <div class="text-right"><a href="http://c.wtis.com.br/cart.php?a=add&pid=25" class="btn btn-sucess btn-success btn-lg"><strong>Teste grátis</strong> e contrate para sua empresa</a></div>
        </div>
    </section>

</div>
{% endblock %}