{% extends "WebsiteBundle:Default:index.html.twig" %}

{% block title %}
<title>Presença na Web - Criação e Gerenciamento de Sites - WTIS</title>
{% endblock %}

{% block metas %}
{% set metaPageTopic = 'Wtis Soluções em Tecnologia e Marketing para Web' %}
{% set metaPageClassification = 'Wtis Soluções em Tecnologia e Marketing para Web' %}
{{ parent() }}
<meta name="description" content="Criação do Site e Mobile, Manutenção, Gerenciamento, Otimização SEO, integração e divulgação das principais Redes Sociais." />
<meta property="og:title" content="Soluções Wtis | Presença na Web" />
<meta property="og:description" content="Criação do Site e Mobile, Manutenção, Otimização SEO, integração e divulgação das principais Redes Sociais." />
<meta property="og:url" content="{{ url(app.request.get('_route')) }}" />
<meta property="og:image" content="{{ app.request.uriForPath('/images/facebook_s.gif') | replace({'/app_dev.php': ''}) }}" />
<meta property="og:phone_number" content="{{ telefoneComercial }}">
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/page.presenca-web.css') }}" rel="stylesheet">
<style type="text/css">
.p2{display:none;}
</style>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/estado-cidade.js') }}"></script>
<script src="{{ asset('js/pages/presenca-web.js') }}"></script>
{% endblock %}

{% block body %}
<div class="content psw">

    <div class="fullscreen background pweb-header-bg">
         <div class="pos-header">
         	<a href="#meligue" data-toggle="modal" data-target="#meLigueModal" data-product="Presença na Web" class="meligue button10">Nós ligamos para você<i></i></a>
            <a href="#chat" class="button10 verde init-chat">Fale conosco via chat<i></i></a>
         </div>        
    </div>
    
	<section id="page-menu" class="page-menu">
    	<ul>
        	<li class="selected"><a href="{{ path('presenca-web') }}"><i class="icon2 r like focus"></i><span>Vantagens</span></a></li>
            <!--<li><a href="#"><i class="icon2 r checked"></i><span>Avaliação</span></a></li>-->
            <li><a href="{{ path('pos-venda') }}"><i class="icon2 r pos"></i><span>Pós-venda</span></a></li>
            <li><a href="{{ path('presenca-web') }}#price-preview"><i class="icon2 r contratar"></i><span>Contrate</span></a></li>
        </ul>
    </section>
    
    <section id="service-description">
    	
        <div class="title center-977">
            <h1>Resultados surpreendentes com uma consultoria que entende o seu negócio</h1>
            <h2>Buscamos entender a marca do cliente e posicioná-la dentro do meio digital. Uma solução completa que envolve vários produtos e serviços.<br>
            <b>Todos os serviços abaixo estão inclusos na solução Presença na Web</b></h2>
        </div>
        
    </section>
    
    <section id="identidade-visual" class="pres-default center-977">
    	<div class="img" data-sr="enter top ease-in-out 6rem"><img src="{{ asset('images/pages/presenca-web/identidade-visual.jpg') }}" alt="Identidade Visual"></div>
        <div class="pcontent">
            <h2>Criação ou reformulação da <strong>identidade visual</strong></h2>
            <span>Identidade visual é o conjunto de elementos formais que representa visualmente, e de forma sistematizada, um nome, ideia, produto, empresa, instituição ou serviço. Nossos Designers estudarão a sua marca e junto com o cliente irão projetar toda a identidade visual de acordo com a necessidade do cliente.<br><br>
    <a href="{{ path('central-design') }}#identidade-visual" class="link-img">Saiba mais sobre este serviço</a></span>
		</div>
        <div class="clearfloat"></div>
    </section>
    
    <section id="website" class="pres-default right center-full azul">
    	<div class="center-977">
            <div class="img" data-sr="enter top ease-in-out 6rem"><img src="{{ asset('images/pages/presenca-web/website.jpg') }}" alt="Criação do Website"></div>
            <div class="pcontent">
                <h2><strong>Criação</strong> ou <strong>reformulação</strong> do <strong>site</strong> de acordo a necessidade do cliente, incluindo a interface <strong>mobile</strong></h2>
                <span>Uma equipe de especialistas para desenvolve o site do cliente utilizando as melhores práticas e mais modernas tecnologias de acordo a necessidade do cliente. Buscamos a perfeição em nossos serviços. Nossos sites são desenvolvidos com o máximo de compatibilidade possível com todos os dispositivos: Computador, Notebook, Celulares, Tablets e outros.<br><br>
        		<a href="{{ path('desenvolvimento-sites') }}" class="link-img">Saiba mais sobre este serviço</a></span>
            </div>
        </div>
        <div class="clearfloat"></div>
    </section>
    
  	<section id="identidade-visual" class="pres-default center-977">
    	<div class="img" data-sr="enter top ease-in-out 6rem"><img src="{{ asset('images/pages/presenca-web/seo.jpg') }}" alt="SEO"></div>
        <div class="pcontent">
            <h2><strong>Optimização SEO</strong> e cadastro em buscadores</h2>
            <span>Optimização de sites é o conjunto de estratégias com o objetivo de potencializar e melhorar o posicionamento de um site nas páginas de resultados nos sites de busca.<br><br>
            <img data-sr="enter left ease-in-out 6rem wait 0.4s" src="{{ asset('images/pages/presenca-web/seo_google.jpg') }}" alt="SEO Google"> &nbsp; 
            <img data-sr="enter left ease-in-out 6rem wait 0.8s" src="{{ asset('images/pages/presenca-web/seo_yahoo.jpg') }}" alt="SEO Yahoo"> &nbsp; 
            <img data-sr="enter left ease-in-out 6rem wait 1.2s" src="{{ asset('images/pages/presenca-web/seo_bing.jpg') }}" alt="SEO BING"><br><br>
    		<!--<a href="{{ path('optimizacao-seo') }}" class="link-img">Saiba mais sobre este serviço</a></span>-->
		</div>
        <div class="clearfloat"></div>
    </section>
    
    <section id="website" class="pres-default right center-full azul">
    	<div class="center-977">
            <div class="img" data-sr="enter top ease-in-out 6rem"><img src="{{ asset('images/pages/presenca-web/redes-sociais.jpg') }}" alt="Redes Sociais"></div>
            <div class="pcontent">
                <h2>Plano e execução da <strong>integração</strong> e <strong>divulgação</strong> da empresa nas principais <strong>redes sociais</strong></h2>
                <span>As redes sociais criaram um ambiente colaborativo de negócios, a WTIS implementa soluções para maximizar o negócio da empresa e melhorar significamente o relacionamento da empresa com seus clientes por meio das redes sociais.<br><br>
        		<!--<a href="#" class="link-img">Saiba mais sobre este serviço</a></span>-->
            </div>
        </div>
        <div class="clearfloat"></div>
    </section>
    
    <section id="identidade-visual" class="pres-default center-977">
    	<div class="img" data-sr="enter top ease-in-out 6rem"><img src="{{ asset('images/pages/presenca-web/posvenda.jpg') }}" alt="Pos-venda"></div>
        <div class="pcontent">
            <h2><strong>Pós-venda</strong></h2>
            <span>Transferência tecnológica e treinamento do cliente para que ele possa administrar todos os serviços entregues, ou caso seja opção do cliente, nós cuidamos de tudo, manutenção preventiva e evolutiva pós-venda dos serviços entregues, gestão e atualização do conteúdo do site e redes sociais envolvendo serviços de webdesign e programação e também a disponibilização do Contact Center, um suporte 24x7 da WTIS.<br><br>
    		<a href="{{ path('pos-venda') }}" class="link-img">Saiba mais sobre este serviço</a></span>
		</div>
        <div class="clearfloat"></div>
    </section>
    
    <section id="depoimentos" class="center-full cinza depoimentos">
    	<div class="center-1156">
    	<p class="h1 text-center">O que dizem as pessoas</p>
            <ul>
                {% for depoimento in depoimentos %}
                <li>
                	<i>Depoimento</i>
                    <p class="h2">{{ depoimento.texto }}</p>
                    <p class="h3">{{ depoimento.nome }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="clearfloat"></div>
    </section>
    
    <!-- POS VENDA -->
    {% include "WebsiteBundle:Servicos:include.pos-venda.html" with {'noform': 1}  %}
    
    <section id="price-preview" class="center-full cinza no-bg">
    	<div class="center-977">
        	<p class="h1">Contrate</p>
            <div class="form center-full">
            	<div class="preload bg-overlay"><div class="preload-div absolute-center"></div></div>
                <span class="desc">Esta é uma solução que envolve vários produtos e serviços da WTIS, por isso não conseguimos estimar um preço de imediato. Precisamos falar com você e entender sua necessidade, assim podemos fazer um estudo e propor a melhor solução com o melhor preço possível.</span>
                <form name="presencaWebForm" id="presencaWebForm" class="m1" data-parsley-validate>
                    <label for="i-contato-regiao" class="i-contato-regiao clearboth">
                    	<span>Sua região</span>
                        <div class="disp-item-form disp-regiao">
                            <select name="i-contato-regiao" id="i-contato-regiao" class="sm sm-default form-extra" data-nome="Estado" data-sigla="estado" data-valor="0">
                                <option value="0">Selecione</option>
                            </select>
                        </div>
                    </label>
                    <label for="i-contato-cidade" class="plataforma">
                    	<span>Sua cidade</span>
                        <div class="disp-item-form disp-cidade">
                            <select name="i-contato-cidade" id="i-contato-cidade" class="sm sm-default form-extra" data-nome="Cidadde" data-sigla="cidade" data-valor="0" disabled="disabled">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </label>
                    <label for="i-contato-nome" class="nome clearboth">
                    	<span>Seu nome</span>
                        <input type="text" name="i-contato-nome" id="i-contato-nome" class="input-default" required="required">
                    </label>
                    <label for="i-contato-email" class="email">
                    	<span>Email</span>
                        <input type="email" name="i-contato-email" id="i-contato-email" class="input-default" required="required">
                    </label>
                    <label for="i-contato-telefone" class="telefonefixo clearboth">
                    	<span>Telefone fixo</span>
                        <input type="tel" name="i-contato-telefone" id="i-contato-telefone" class="input-default phoneMask" placeholder="DDD + Número">
                    </label>
                    <label for="i-contato-celular" class="celular">
                    	<span>Celular</span>
                        <input type="tel" name="i-contato-celular" id="i-contato-celular" class="input-default phoneMask" placeholder="DDD + Número">
                    </label>
                    
                    <label for="i-contato-newsletter" class="newsletter full clearboth">
                        <input type="checkbox" name="i-contato-newsletter" id="i-contato-newsletter" value="1"> Assine nossa newsletter e receba novidades em seu email
                    </label>
                    
                    <label class="text-right">
                    	<span>Tem alguma observação a fazer?</span>
                        <textarea maxlength="300" id="i-contato-mensagem" name="i-contato-mensagem" cols="60" rows="5" class="input-textarea"></textarea>
                        <div class="description">máx. 800</div>
                    </label>
                    <div class="clearfloat"></div>
                    <div class="atendimento-opcoes">
                    	<a href="#meligue" class="link-img phone meligue-modal" data-toggle="modal" data-target="#meLigueModal" data-product="Presença na Web">Nós ligamos para você<i></i></a>
                        <a href="#chat" class="link-img chat init-chat">Fale conosco via chat<i></i></a>
                    </div>
                    <div class="result">
                    	<input type="hidden" name="i-contato-contratar-produto" id="i-contato-contratar-produto" value="Presença Web" data-nome="Contratar Produto" data-sigla="contratar-produto" data-valor="0" class="form-extra i-produto-interesse">
                        <button type="submit" class="button10 min-radius verde no-icon submit-button">Enviar<i class="glyphicon glyphicon-envelope"></i></button>
                    </div>
                </form>
                
            </div>
        </div>
    </section>

</div>
{% endblock %}